<div class="POPup skryty" id="detaily">
    <div>
        <a class="icon-cancel" title="Zavøít" href="JavaScript:skrytPOPUp()"></a>
        <h3 class="popupnadpis" id="sluzba"></h3>
        <div id="sdilenoOd"></div>
        <div id="jmeno"></div>
        <div id="heslo"></div>
    </div>
</div>
