<a class="POPupPozadi skryty" id="detaily_pozadi" href="JavaScript:skrytPOPUp()"></a>

<div class="POPup skryty" id="detaily">
    <div id="sluzba"></div>
    <div id="jmeno"></div>
    <div id="heslo"></div>
</div>