<a class="skryty" id="detaily_pozadi" href="JavaScript:skrytHeslo()"></a>

<div class="skryty" id="detaily">
    <div id="sluzba"></div>
    <div id="jmeno"></div>
    <div id="heslo"></div>
</div>