<div class="POPup skryty" id="odstranit">
    <div>
        <h3 class="popupnadpis">Odstarnit?</h3>
        <div>Opravdu si přejete odstranit heslo?</div>
        <form method="get" id="odstraneni">
            <button type="submit">Potvrdit</button>
        </form>
    </div>
</div>
