<a class="POPupPozadi skryty" href="JavaScript:skrytPOPUp()"></a>

<div class="POPup skryty" id="odstranit">
    <h3 class="popupnadpis">Odstarnit??????</h3>
    <form method="get" id="odstraneni">
        <input type="submit"></input>
    </form>
</div>