@model Uzivatel
@{
    ViewData["Title"] = "Sdílet heslo";
    dynamic? id = ViewData["id"];
}

<article class="center">
    <h2>Sdílet heslo</h2>
    <section>
        <h3>Adresát</h3>
        <form method="post" action="/hesla/Sdileni/@id">
            <input type="email" asp-for="Email" placeholder="Zadejte E-Mail..." required
                   oninvalid="if (this.value == ''){this.setCustomValidity('Vyplňte toto pole!')} if (this.value != ''){this.setCustomValidity('Tato emailová adresa není validní.')}"
                   oninput="setCustomValidity('')"/>
            <span asp-validation-for="Email" class="chyba"></span><br/>
            <input type="submit" value="Sdílet"/>
        </form>
    </section>
    
    <section class="sdileniUpozorneni">
        <h3>Upozornění</h3>
        <p>Sdílení hesel může být nebezepčné.<br/>
            Věnujte tomuto procesu dostatečnou pozornost a zvažte, zda je toto heslo opravdu potřeba sdílet.
        </p>
    </section>
</article>