@model List<Heslo>
@{
    ViewData["Title"] = "Moje hesla";
}

<article>
    <h2>Moje hesla</h2>
    <p class="center">
        <button type="button" class="icon-plus" onclick="window.location.href = '/Hesla/Pridat'">Přidat heslo</button>
        <button type="button" class="icon-bell" onclick="zobrazitPOPup('oznameni')">Oznámení</button>
    </p>

    @{
        foreach (Heslo heslo in Model)
        {
            <div class="heslo_div">
                <div class="sluzba"><a title="Zobrazit heslo" href="JavaScript:vyzadatHeslo(@heslo.ID)">
                    @if (heslo.Sluzba == null || heslo.Sluzba.Trim() == "")
                    {
                        <i>Neznámá služba</i>
                    }
                    else
                    {
                        @heslo.Sluzba
                    }
                    </a>
                    <span>
                        <a class="icon-share" title="Sdílet heslo" href="/Hesla/Sdileni/@heslo.ID"></a>
                        <a class="icon-edit" title="Upravit heslo" href="/Hesla/Upravit/@heslo.ID"></a>
                        <a class="icon-bin" title="Odstranit heslo" href="JavaScript:vyzadatOdstraneni(@heslo.ID)"></a>
                    </span>
                </div>
                <div class="jmeno">
                    @if (heslo.Jmeno == null || heslo.Jmeno.Trim() == "")
                    {
                        <i>Neznámé jméno</i>
                    }
                    else
                    {
                        @heslo.Jmeno
                    }
                </div>
                <div class="heslo">••••••••</div>
            </div>
        }

        if (Model.Count == 0)
        {
            <p>Zatím nemáte přidané žádné heslo</p>
        }
        else
        {
            <partial name="_DetailHesla" />
            <partial name="_OdstranitHeslo" />
        }
    }

    <partial name="_Oznameni" />
</article>

