@{
    ViewData["Title"] = "Nápověda";
}

<div id="ROUTE" style="display: none">@ViewData["Sekce"]</div>


<h2>Nápověda k používání Správce Hesel</h2>

<div id="napoveda_navigace">
    <button id="napoveda_navigace_zpet" type="button">◀</button>
    <div id="napoveda_navigace_menu">
        <div id="napoveda_navigace_rozbalit"><i id="napoveda_navigace_menu_cesta">CHYBA</i><b>Navigace nápovědou</b></div>
    </div>
</div>

<div id="napoveda_prehravac">
    <h2 id="napoveda_prehravac_nadpis">NASTALA CHYBA</h2>
    <div id="napoveda_prehravac_obsah">NASTALA CHYBA</div>
</div>

<div id="napoveda_podsekce">
    <h2>CHYBA</h2>
    <a href="/Napoveda">Přejít na Úvod</a>
</div>

<script src="~/napoveda/napoveda.js"></script>
