@{
    Layout = "_Layout";
    ViewData["Title"] = "Nastavení účtu";
}

<article>
    <section>
        <h2>Nastavení účtu</h2>

        <a href="/Ucet/ZmenaJmena">Změna jména účtu</a><br />
        <a href="/Ucet/ZmenaHesla">Změna hesla k účtu</a><br />
        <a href="/Ucet/Odebrani">Odebrání účtu</a>
    </section>
</article>
