@model Uzivatel
@{
    ViewData["Title"] = "Odebrání účtu";
}

<article class="center">
    <h2>Odebrání účtu</h2>

    <form action="/Ucet/Odebrani" method="post">
        <input type="checkbox" name="potvrzeni" required
        oninvalid="this.setCustomValidity('Vyplňte toto pole!')"
        oninput="this.setCustomValidity('')"/> Opravdu si přejete odstranit svůj účet? <br/>
        <input name="heslo" placeholder="Zadejte svoje stávající heslo..." type="password" required
        oninvalid="this.setCustomValidity('Vyplňte toto pole!')"
        oninput="this.setCustomValidity('')"/>
        <span asp-validation-for="Heslo" class="chyba"></span><br />
        <input type="submit" value="Potvrdit" />
    </form>
</article>
