@model uzivatel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrace";
}

<article class="login">
    <section>
        <h2>Přihlášení</h2>
        <div><a href="/Ucet/Prihlaseni">Přihlášení</a> | <a href="javascript:void(0)" class="odkaz-vybran">Registrace</a></div>
    </section>

    <section>
        <form action="/Ucet/Registrace" method="post">
            <input type="text" asp-for="Username" placeholder="Zadejte uživatelské jméno..." />
            <span asp-validation-for="Username"></span><br />
            <input type="email" asp-for="Email" placeholder="Zadejte E-Mail..." />
            <span asp-validation-for="Email"></span><br />
            <input type="password" asp-for="Heslo" placeholder="Zadejte nové heslo..." /><br />
            <input type="password" name="Kontrola_hesla" placeholder="Znovu pro kontrolu..." />
            <span asp-validation-for="Heslo"></span><br />
            <input type="submit" value="Zaregistrovat se" />
        </form>
    </section>
</article>
