@model Uzivatel
@{
    ViewData["Title"] = "Změna hesla";
    ViewData["Napoveda"] = "Ucet-Nastaveni-ZmenaHesla";
}

<article class="center">
    <h2>Změna hesla</h2>

    <form action="/Ucet/ZmenaHesla" method="post">
        <input name=noveheslo placeholder="Zadejte nové heslo..." type="password" required minlength="8"
        oninvalid="this.setCustomValidity('Heslo musí být nejméně 8 znaků dlouhé.')"
        oninput="this.setCustomValidity('')"/><br />
        <input name=noveheslokontrola placeholder="Znovu pro kontrolu..." type="password" required minlength="8"
        oninvalid="this.setCustomValidity('Heslo musí být nejméně 8 znaků dlouhé.')"
        oninput="this.setCustomValidity('')"/><br />
        <input asp-for="Heslo" placeholder="Zadejte svoje stávající heslo..." type="password" required
        oninvalid="this.setCustomValidity('Vyplňte toto pole!')"
        oninput="this.setCustomValidity('')"/>
        <span asp-validation-for="Heslo" class="chyba"></span><br />
        <input type="submit" value="Potvrdit" />
    </form>
</article>
