@{
    Layout = "_Layout";
    ViewData["Title"] = "Domovská stránka";
}

<article>
    <section>
        <h2>Vítejte ve Správci Hesel</h2>
    </section>

    <section>
        <div>Pro zobrazení uschovaných hesel se nejprve <a href="/Ucet/Prihlaseni">přihlaš</a></div>
    </section>
</article>
