// Barevné schéma
$barva-text: #000000;
$barva-text-sekundar: #6495ed;
$barva-sdilene-heslo: #3e27ea;
$barva-oznameni: #f1ab58;
$barva-pozadi: #ffffff;
$barva-pozadi-sekundar: #f4f7fc;
$barva-pozadi-heslo: #e1e9f7;
$barva-pozadi-sdilene-heslo: #f5f5ff;
$barva-pozadi-sdilene-heslo2: #e0e0f7;
$barva-zesednuti: #00000066;

// Header
header {
    text-align: center;
    border-bottom: 1px solid $barva-text-sekundar;
    border-image: linear-gradient(to right, $barva-text-sekundar, $barva-sdilene-heslo, $barva-text-sekundar) 1;

    nav {
        position: relative;

        div.item:not(:first-of-type) {
            margin-left: 1em;
        }

        > * {
            display: inline-block;
        }

        span.nav-vlevo {
            padding: 0;
            left: 0;
            position: absolute;
        }

        span.nav-vpravo {
            padding: 0;
            right: 0;
            position: absolute;
        }

        a {
            text-decoration: none;
        }

        div.item {
            display: inline-block;
            position: relative;
            width: 10em;

            div.submenu {
                display: none;
                position: absolute;
                width: 10em;
                top: 0;
                z-index: 998;

                > a {
                    display: block;
                    font-size: 0;
                    height: 2rem;
                    width: 10rem;
                    margin: 0 auto;
                }

                > div {
                    border: 2px solid $barva-text-sekundar;
                    background-color: $barva-pozadi-sekundar;
                    border-radius: 2px;
                    padding: 0;
                    margin: 0;
                    width: calc(100% - 4px);
                    height: 100%;

                    a {
                        display: block;
                        padding: .25em;
                    }

                    a:not(:last-of-type) {
                        border-bottom: $barva-text-sekundar solid 1px;
                    }
                }
            }
        }

        div.item-icon {
            width: 22px;

            div.submenu {
                > a {
                    width: 1.5rem;
                }

                top: 0;
                left: calc((-10em + 22px) / 2);
            }
        }

        div.item:hover {
            div.submenu {
                display: block;
            }
        }
    }
}
