// Barevné schéma
$barva-text: #c4c2c2;
$barva-text-sekundar: lightblue;
$barva-sdilene-heslo: #5b8dd7;
$barva-oznameni: #f1ab58;
$barva-pozadi: #252931;
$barva-pozadi-sekundar: #4a4a4b;
$barva-pozadi-heslo: #172e34;
$barva-pozadi-sdilene-heslo: #172534;
$barva-zesednuti: #00000077;

// Tmavý motiv
.tmavy {
    // Pozadí
    background-color: $barva-pozadi;
    color: $barva-text;

    // Odkaz
    a {
        color: $barva-text;
    }

    // Výběr
    .loginVyber a.vybran {
        color: $barva-text-sekundar;
    }

    // Header
    header {
        border-image: linear-gradient(to right, $barva-sdilene-heslo, $barva-text-sekundar, $barva-sdilene-heslo) 1;
    }

    // Logo
    span.nav-vlevo .icon-key:before {
        color: $barva-text-sekundar;
    }

    // Footer
    footer {
        border-image: linear-gradient(to right, $barva-sdilene-heslo, $barva-text-sekundar, $barva-sdilene-heslo) 1;
    }

    // Tlačítko
    button {
        background-color: $barva-pozadi-sekundar;
        color: $barva-text;
        border-color: $barva-text-sekundar;
    }

    // Form
    form {
        input {
            background-color: $barva-pozadi-sekundar;
            color: $barva-text;
            border-color: $barva-text-sekundar;
        }


        input[type=range]::-webkit-slider-thumb {
            background-color: $barva-text-sekundar;
        }

        input[type=range]::-moz-range-thumb {
            background-color: $barva-text-sekundar;
        }
    }

    // Podmenu
    div.item {
        div.submenu {
            a:not(:last-of-type) {
                border-bottom-color: $barva-text-sekundar;
            }

            > div {
                border-color: $barva-text-sekundar;
                background-color: $barva-pozadi-sekundar;
            }
        }
    }

    // Chyba
    .chyba {
        color: $barva-text-sekundar;
    }

    // Heslo
    .zobrazeniHeslo {
        border-color: $barva-text-sekundar;
        background-color: $barva-pozadi-heslo;

        .sluzba {
            border-bottom-color: $barva-text-sekundar;
            background-color: $barva-pozadi-heslo;
        }
    }

    // Sdílené heslo
    .zobrazeniHeslo.sdileneheslo {
        background-color: $barva-pozadi-sdilene-heslo;
        border-color: $barva-sdilene-heslo;

        .sluzba {
            border-bottom-color: $barva-sdilene-heslo;
            background-color: $barva-pozadi-sdilene-heslo;
        }
    }

    // Detail o sdíleném heslu
    #detaily > div.sdileneheslo {
        background-color: $barva-pozadi-sdilene-heslo !important;
        border-color: $barva-sdilene-heslo !important;

        h3 {
            border-bottom-color: $barva-sdilene-heslo !important;
        }
    }

    // POP-up
    #container div.POPup {
        > div {
            border-color: $barva-text-sekundar;
            background-color: $barva-pozadi-heslo;
        }

        h3 {
            border-bottom-color: $barva-text-sekundar;
        }
    }

    // Oznámení
    #container div.POPup#oznameni {
        .oznameni {
            border-bottom-color: $barva-text-sekundar;
        }
    }

    // Upozornění na Cookies
    .upozorneniCookies {
        background-color: $barva-pozadi-heslo;
        border-color: $barva-text-sekundar;
    }

    // Načítání
    #nacitani div {
        border: 2px solid $barva-text-sekundar;
        background-color: $barva-pozadi-heslo;
    }
}
