// Barevné schéma
$barva-text: #c4c2c2;
$barva-text-sekundar: lightblue;
$barva-sdilene-heslo: #5b8dd7;
$barva-oznameni: #f1ab58;
$barva-pozadi: #252931;
$barva-pozadi-sekundar: #4a4a4b;
$barva-pozadi-heslo: #172e34;
$barva-pozadi-sdilene-heslo: #172534;
$barva-zesednuti: #00000077;

// Tmavý motiv
.tmavy {
    background-color: $barva-pozadi;
    color: $barva-text;

    a {
        color: $barva-text;
    }

    .login_vyber a.vybran {
        color: $barva-text-sekundar;
    }

    header {
        border-image: linear-gradient(to right, $barva-sdilene-heslo, $barva-text-sekundar, $barva-sdilene-heslo) 1;
    }

    footer {
        border-image: linear-gradient(to right, $barva-sdilene-heslo, $barva-text-sekundar, $barva-sdilene-heslo) 1;
    }

    span.nav-vlevo .icon-key:before {
        color: $barva-text-sekundar;
    }

    button {
        background-color: $barva-pozadi-sekundar;
        color: $barva-text;
        border-color: $barva-text-sekundar;
    }

    form {
        input {
            background-color: $barva-pozadi-sekundar;
            color: $barva-text;
            border-color: $barva-text-sekundar;
        }


        input[type=range]::-webkit-slider-thumb {
            background-color: $barva-text-sekundar;
        }

        input[type=range]::-moz-range-thumb {
            background-color: $barva-text-sekundar;
        }
    }

    div.item {
        div.submenu {
            a:not(:last-of-type) {
                border-bottom-color: $barva-text-sekundar;
            }

            > div {
                border-color: $barva-text-sekundar;
                background-color: $barva-pozadi-sekundar;
            }
        }
    }

    .chyba {
        color: $barva-text-sekundar;
    }

    .heslo_div {
        border-color: $barva-text-sekundar;
        background-color: $barva-pozadi-heslo;

        .sluzba {
            border-bottom-color: $barva-text-sekundar;
            background-color: $barva-pozadi-heslo;
        }
    }

    .heslo_div.sdileneheslo {
        background-color: $barva-pozadi-sdilene-heslo;
        border-color: $barva-sdilene-heslo;

        .sluzba {
            border-bottom-color: $barva-sdilene-heslo;
            background-color: $barva-pozadi-sdilene-heslo;
        }
    }

    #detaily > div.sdileneheslo {
        background-color: $barva-pozadi-sdilene-heslo !important;
        border-color: $barva-sdilene-heslo !important;

        h3 {
            border-bottom-color: $barva-sdilene-heslo !important;
        }
    }

    #container div.POPup {
        > div {
            border-color: $barva-text-sekundar;
            background-color: $barva-pozadi-heslo;
        }

        h3 {
            border-bottom-color: $barva-text-sekundar;
        }
    }

    #container div.POPup#oznameni {
        .oznameni {
            border-bottom-color: $barva-text-sekundar;
        }
    }

    .upozorneniCookies {
        background-color: $barva-pozadi-heslo;
        border-color: $barva-text-sekundar;
    }

    #nacitani div {
        border: 2px solid $barva-text-sekundar;
        background-color: $barva-pozadi-heslo;
        border-image: linear-gradient(to right, $barva-sdilene-heslo, $barva-text-sekundar, $barva-sdilene-heslo) 1;
        animation: nacitaniPozadi 6s infinite linear;
    }
}
