@import "styleTmavy.scss";
@import "styleNavigace.scss";
@import "styleMobil.scss";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@charset "UTF-8";

// Barevné schéma
$text: #000000;
$text-sekundarni: #6495ed;
$sdilene-heslo: #3e27ea;
$upozorneni: #f1ab58;
$upozorneni-pozadi: #ff8a001f;
$pozadi: #ffffff;
$pozadi-sekundarni: #f4f7fc;
$pozadi-heslo: #e1e9f7;
$pozadi-sdilene-heslo: #f5f5ff;
$pozadi-sdilene-heslo-header: #e0e0f7;
$zesednuti: #00000066;

// Mixins
@mixin border($barva: $text-sekundarni) {
    border: 2px solid $barva;
    border-radius: 2px;
}

// Základní elementy
// Nadpisy
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;

    a {
        text-decoration: none;
    }
}

h1, h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1rem;
    margin-bottom: 0;
}

// Odkaz
a {
    text-decoration: underline solid 1px auto;
    color: $text;
}

// Form a button
form {
    input {
        @include border;
        padding: 20px;
        margin: 8px 0;
        background-color: $pozadi-sekundarni;
        background-size: 1em;
        background-position: 15px 50%;
        background-repeat: no-repeat;
        position: relative;
    }

    input[type=text].username {
        background-image: url('../icons/svg/user.svg');
        padding-left: 40px;
    }

    input[type=email] {
        background-image: url('../icons/svg/email.svg');
        padding-left: 40px;
    }

    input[type=password] {
        background-image: url('../icons/svg/key.svg');
        padding-left: 40px;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 75%;
        padding: 0;
        height: .5em;
        outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $text-sekundarni;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $text-sekundarni;
        cursor: pointer;
    }
}

button {
    @include border;
    padding: .25em .5em;
    margin-block: .25em;
}

button:hover {
    cursor: pointer;
}

// Vlastní třídy
.center {
    text-align: center;
}

article.split section {
    width: calc(50% - 2px);
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

// Chyba ve formu
span.chyba {
    position: absolute;
    margin-left: 3em;
    height: 60px;
    margin-top: .4em;
    line-height: 60px;
    padding-inline: .5em;
    color: red !important;
    font-weight: bold;
    white-space: nowrap;
}

span.chyba:not(:empty) {
    border: 2px solid red;
    border-radius: 2px;
}

span.chyba:not(:empty):before {
    content: '◀';
    position: absolute;
    left: -1.5em;
}

// Chybová stránka
.chyba {
    color: $text-sekundarni;

    * {
        font-size: 2em;
    }

    .icon-error {
        font-size: 4em;
    }
}

// Container, html, body
#container {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 330px;
    max-width: 1000px;
    margin: 0 auto !important;
    position: relative;

    > * {
        padding: 1em;
        width: calc(100% - 2em);
    }
}

html, body, #container {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

// Main a jeho součásti
main {
    padding-bottom: 5em !important;
}

section:not(:last-of-type) {
    margin-bottom: 2em;
}

// Footer
footer {
    border-top: 1px solid $text-sekundarni;
    border-image: linear-gradient(to right, $text-sekundarni, $sdilene-heslo, $text-sekundarni) 1;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 2em;
    line-height: 2em;
    margin: 0 auto;
    width: 100vw;
    max-width: calc(1000px - 2em);

    > * {
        display: inline-block;
    }

    #napoveda {
        float: right;
        text-decoration: none;

        div {
            font-weight: bold;
            color: $upozorneni;
            padding-inline: .5em;
            @include border($upozorneni);
            line-height: calc(2em - 4px);
            background-color: $upozorneni-pozadi;
        }
    }
}

// Přihlášení a registrace
.loginVyber {
    a {
        text-decoration: none;
        font-weight: bold;
    }

    a.vybran {
        color: $text-sekundarni;
    }
}

// Zobrazování hesel
.zobrazeniHesel {
    text-align: center;

    > .zobrazeniHeslo {
        text-align: start;
    }
}

.zobrazeniHeslo {
    @include border;
    width: calc(100% - 4px);
    background-color: $pozadi-sekundarni;

    div, a {
        padding: .5em;
    }

    .sluzba {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid $text-sekundarni;
        background-color: $pozadi-heslo;
        position: relative;

        span {
            position: absolute;
            padding: 0;
            right: 0;
        }
    }

    .jmeno {
        display: inline-block;
    }

    .heslo {
        float: right;
    }
}

.zobrazeniHeslo.sdileneheslo {
    @include border($sdilene-heslo);
    background-color: $pozadi-sdilene-heslo;

    .sluzba {
        border-bottom-color: $sdilene-heslo;
        background-color: $pozadi-sdilene-heslo-header;
    }
}

#detaily {
    > div #jmeno {
        font-style: italic;
    }

    > div.sdileneheslo {
        background-color: $pozadi-sdilene-heslo;
        border-color: $sdilene-heslo !important;

        h3 {
            border-bottom-color: $sdilene-heslo !important;
        }
    }

    #sdilenoOd {
        font-size: .75rem;
    }

    #sdilenoOd:empty {
        display: none;
    }
}

.zobrazeniHeslo:not(:last-of-type) {
    margin-bottom: 2em;
}

// Oznámení
#container div.POPup#oznameni {
    justify-content: end;

    > div {
        height: calc(100vh - 4px - 4em);
        overflow-y: auto;
        
        .oznameni {
            padding-block: .5em;
            border-bottom: 1px solid $text-sekundarni;
        }

        h4 {
            margin-top: 1em;
        }
    }

    h3 {
        margin: 0 !important;
    }
}

.upozorneniOznameni {
    border-color: $upozorneni !important;
}

// Upozornění na cookies
.upozorneniCookies {
    @include border;
    background-color: $pozadi-sekundarni;
    margin: 0 auto;
    padding-inline: .5em;
    position: relative;
    top: -3px;

    button {
        margin-left: 1em;
    }
}

// Pop-up
#container div.POPup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: $zesednuti;
    z-index: 999;

    > div {
        @include border;
        position: relative;
        margin: 1em;
        min-width: 500px;
        width: max-content;
        background-color: $pozadi-heslo;
        padding: 1em;
        text-align: center;

        > a {
            position: absolute;
            line-height: 1rem;
            right: 1em;
            top: 1.25em;
            padding: .5em;
        }

        h3 {
            font-weight: bold;
            border-bottom: 1px solid $text-sekundarni;
            margin: auto;
            margin-bottom: .5em;
            padding-block: .5em;
            text-align: center;
        }

        > div {
            padding-block: .5em;
        }
    }
}

.skryty {
    display: none !important;
}

// Načítání
#nacitani {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: $zesednuti;
    z-index: 999;

    div {
        @include border;
        font-size: 1.5em;
        background-color: $pozadi-heslo;
        padding: 1em;
    }
}

// Přidávání hesel
.pridat {
    form {
        width: 100%;

        input[type=email], input[type=text] {
            width: calc(100% - 64px - 1em);
        }

        input[type=text].server {
            background-image: url('../icons/svg/server.svg');
            padding-left: 40px;
        }

        input#gen_vystup {
            width: calc(100% - 4em - 64px) !important;
            background-image: url('../icons/svg/key.svg');
            padding-left: 40px;
        }

        #posuvnikVystup {
            height: 1em;
            width: 1.1em !important;
            padding: .5em;
            margin-left: 1em;
        }
    }
}

// Upozornení na nebezpečí
.upozorneni {
    @include border($upozorneni);
    padding-block: 1em;
    margin-block: 1em;
    text-align: left;
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: $upozorneni-pozadi;

    .ikona {
        border-right: 1px solid $upozorneni;
        grid-column: 1;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        * {
            padding: 0;
        }
    }

    > div {
        grid-column: 2;
        padding-inline: 1em;

        h3 {
            grid-column: 2;
            margin: 0 0 .5em 0;
        }
    }
}

.upozorneniHesla:last-of-type {
    margin-bottom: 2em;
}

// Přehled o funkcích aplikace
#prehled {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;

    div {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: .5em;
    }

    img {
        width: calc(100% - 1em);
        aspect-ratio: auto;
        padding: .5em;
        @include border;
    }
}

// Nápověda
#napoveda_navigace {
    display: flex;

    #napoveda_navigace_zpet, #napoveda_navigace_vpred {
        @include border;
        background-color: $pozadi-heslo;
        padding: 0;
        margin: 0;
        line-height: 2rem;
        height: calc(2rem + 4px);
        padding-inline: 1rem;
    }

    #napoveda_navigace_menu {
        @include border;
        font-size: 1.3rem;
        background-color: $pozadi-heslo;
        border-radius: 2px;
        margin-inline: .5em;
        padding-inline: .5em;
        line-height: 2rem;
        min-height: 2rem;
        width: 100%;

        div > b {
            float: right;
        }

        div > i {
            font-size: 1rem;
        }

        a {
            text-decoration: none;
            font-weight: inherit;
        }

        ul {
            font-size: 1rem;
            background-color: $pozadi-heslo;
            text-align: initial;
            line-height: initial;
            font-weight: initial;
            margin: 1em;

            li {
                padding-block: .15rem;
            }

            > li {
                font-size: 1.2rem;
                font-weight: bold;

                *:not(a) {
                    font-weight: initial;
                    font-size: 1rem;
                }
            }
        }
    }
}

#napoveda_navigace_menu:hover {
    cursor: pointer;
}

#napoveda_prehravac_obsah {
    border-bottom: $text-sekundarni solid 2px;

    section {
        margin-block: 1em;
    }

    section:not(:last-of-type) {
        border-bottom: $sdilene-heslo solid 2px;
    }

    article {
        padding: 1em;
    }

    img {
        width: calc(100% - 1em - 4px);
        @include border;
        margin-block: 2em;
        padding: .5em;
        display: block;
    }
}

#navigace_podobnosti {
    display: grid;
    grid-template-columns: 1fr 1fr;
}