@media screen and (max-width: 600px) {
    input:not([type=checkbox]):not([type=submit]):not([type=button]) {
        width: calc(100% - 64px) !important;
    }

    input[type=submit], input[type=button] {
        width: calc(100%) !important;
    }

    main article.split section {
        width: initial;
        display: initial;
    }

    header nav {
        h1 a span {
            display: none;
        }
    }

    footer span {
        display: none;
    }

    #container div.POPup {
        > div {
            width: calc(100vw - 4em - 4px) !important;
            min-width: 0 !important;
            max-height: calc(100vh - 4em - 4px) !important;
            overflow-wrap: break-word;
        }
    }

    .upozorneni {
        grid-template-columns: 12% 88% !important;
    }

    // Přehled o funkcích aplikace
    #prehled {
        display: initial !important;

        div {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            padding: .5em;
        }

        img {
            width: calc(100% - 1em);
            aspect-ratio: auto;
            padding: .5em;
        }
    }

    #napoveda_navigace_zpet {
        display: none;
    }

    #napoveda_navigace_menu {
        margin: 0 !important;

        > ul {
            padding-left: 0 !important;
            font-size: 0.8em;

            > li {
                list-style: none;

                ul {
                    padding-left: .5em !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    span.chyba {
        display: block;
        position: initial !important;
        padding: .5em !important;
        margin: 1em auto 0 auto !important;
        line-height: initial !important;
        height: initial !important;
        width: max-content;
    }

    span.chyba:empty {
        display: none;
    }

    header nav div.item:hover div.submenu {
        display: none !important;
    }

    #napoveda_navigace_menu_cesta {
        display: none;
    }

    #napoveda_navigace_rozbalit {
        text-align: center;

        > b {
            float: unset !important;
        }
    }

    #napoveda_prehravac_obsah {
        article {
            padding: 0 !important;
        }
    }

    #navigace_podobnosti {
        display: grid;
        grid-template-columns: 1fr !important;
    }
}
