// Barevné schéma
$text: #c4c2c2;
$text-sekundarni: lightblue;
$sdilene-heslo: #5b8dd7;
$upozorneni: #f1ab58;
$upozorneni-pozadi: #3a22054d;
$pozadi: #252931;
$pozadi-sekundarni: #4a4a4b;
$pozadi-heslo: #172e34;
$pozadi-sdilene-heslo: #172534;
$zesednuti: #00000077;

// Tmavý motiv
.tmavy {
    // Pozadí
    background-color: $pozadi;
    color: $text;

    // Odkaz
    a {
        color: $text;
    }

    // Výběr
    .loginVyber a.vybran {
        color: $text-sekundarni;
    }

    // Header
    header {
        border-image: linear-gradient(to right, $sdilene-heslo, $text-sekundarni, $sdilene-heslo) 1;
    }

    // Logo
    div.nav-vlevo .icon-key:before {
        color: $text-sekundarni;
    }

    // Footer
    footer {
        border-image: linear-gradient(to right, $sdilene-heslo, $text-sekundarni, $sdilene-heslo) 1;
    }

    // Tlačítko
    button {
        background-color: $pozadi-sekundarni;
        color: $text;
        border-color: $text-sekundarni;
    }

    // Form
    form {
        input {
            background-color: $pozadi-sekundarni;
            color: $text;
            border-color: $text-sekundarni;
        }


        input[type=range]::-webkit-slider-thumb {
            background-color: $text-sekundarni;
        }

        input[type=range]::-moz-range-thumb {
            background-color: $text-sekundarni;
        }
    }

    // Podmenu
    div.item {
        div.submenu {
            a:not(:last-of-type) {
                border-bottom-color: $text-sekundarni;
            }

            > div {
                border-color: $text-sekundarni;
                background-color: $pozadi-sekundarni;
            }
        }
    }

    // Chyba
    .chyba {
        color: $text-sekundarni;
    }

    // Heslo
    .zobrazeniHeslo {
        border-color: $text-sekundarni;
        background-color: $pozadi-heslo;

        .sluzba {
            border-bottom-color: $text-sekundarni;
            background-color: $pozadi-heslo;
        }
    }

    // Sdílené heslo
    .zobrazeniHeslo.sdileneheslo {
        background-color: $pozadi-sdilene-heslo;
        border-color: $sdilene-heslo;

        .sluzba {
            border-bottom-color: $sdilene-heslo;
            background-color: $pozadi-sdilene-heslo;
        }
    }

    // Detail o sdíleném heslu
    #detaily > div.sdileneheslo {
        background-color: $pozadi-sdilene-heslo !important;
        border-color: $sdilene-heslo !important;

        h3 {
            border-bottom-color: $sdilene-heslo !important;
        }
    }

    // POP-up
    #container div.POPup {
        > div {
            border-color: $text-sekundarni;
            background-color: $pozadi-heslo;
        }

        h3 {
            border-bottom-color: $text-sekundarni;
        }
    }

    // Oznámení
    #container div.POPup#oznameni {
        .oznameni {
            border-bottom-color: $text-sekundarni;
        }
    }

    // Upozornění na Cookies
    .upozorneniCookies {
        background-color: $pozadi-heslo;
        border-color: $text-sekundarni;
    }

    // Načítání
    #nacitani {
        div {
            color: $sdilene-heslo;
        }
    }

    // Upozornení na nebezpečí
    .upozorneni {
        border-color: $upozorneni;
        background-color: $upozorneni-pozadi;

        .ikona {
            border-right-color: $upozorneni;
        }
    }

    // Přehled o funkcích aplikace
    #prehled {
        img {
            border-color: $text-sekundarni;
        }
    }

    // Nápověda
    #napoveda_navigace {
        #napoveda_navigace_zpet, #napoveda_navigace_vpred {
            border-color: $text-sekundarni;
            background-color: $pozadi-heslo;
        }

        #napoveda_navigace_menu {
            border-color: $text-sekundarni;
            background-color: $pozadi-heslo;

            ul {
                background-color: $pozadi-heslo;
            }
        }
    }

    #napoveda_prehravac_obsah {
        border-bottom: $text-sekundarni solid 2px;


        section:not(:last-of-type) {
            border-bottom: $sdilene-heslo solid 2px;
        }

        img {
            border-color: $text-sekundarni;
        }
    }
}

