@{
    string BarevnyMotiv = "svetly";
    if (HttpContextAccessor.HttpContext.Request.Cookies["TmavyMotiv"] != null)
    {
        BarevnyMotiv = "tmavy";
    }
    int? uzivatel = HttpContextAccessor.HttpContext.Session.GetInt32("ID");
}

<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Spravce Hesel</title>
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/icons/css/icons.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="@BarevnyMotiv">
        <div id="container">
            <header>
                <h1><a href="/Home/Index">Správce hesel</a></h1>

                <partial name="_Navigace" />
            </header>

            <main>
                @RenderBody()
            </main>
            
            <footer>
                <div><b>&copy; Spravce Hesel 2022</b> – Jakub Kosinka, Filip Lohynský, Jan Kleistner</div>
            </footer>

            <partial name="_Oznameni" />

            <script src="~/js/site.js" asp-append-version="true"></script>

            @await RenderSectionAsync("Scripts", required: false)
        </div>
    </body>
</html>
