@{
    int? uzivatel = null;
    string? souhlas = null;
    string barevnyMotiv = "svetly";
    if (HttpContextAccessor.HttpContext != null)
    {
        if (HttpContextAccessor.HttpContext.Request.Cookies["TmavyMotiv"] != null)
        {
            barevnyMotiv = "tmavy";
        }
        uzivatel = HttpContextAccessor.HttpContext.Session.GetInt32("ID");

        souhlas = HttpContextAccessor.HttpContext.Request.Cookies["Souhlas"];
    }
}

<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Správce hesel</title>
        <link rel="stylesheet" href="~/css/style.css" charset="utf-8" />
        <link rel="stylesheet" href="~/icons/css/icons.css" charset="utf-8" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="icon" type="image/svg" href="~/favicon.svg" />
    </head>

    <body class="@barevnyMotiv">
        <div id="container">
            <header>
                <partial name="_Navigace" />
            </header>

            <main>
                @RenderBody()
            </main>
            
            <footer>
                @if (souhlas == null)
                {
                    <div class="upozorneniCookies">Tento web využívá pro svoje fungování cookies a JavaScript   <button type="button" onclick="udeleniSouhlasu()">Souhlasím</button></div>
                }
                else
                {
                    <div><b>&copy; Spravce Hesel 2022</b><span> – Jakub Kosinka, Filip Lohynský, Jan Kleistner</span></div>
                }
            </footer>

            <script src="~/js/site.js" asp-append-version="true" charset="utf-8"></script>

            @await RenderSectionAsync("Scripts", required: false)

            <partial name="_Nacitani" />
        </div>
    </body>
</html>
