@{
    string BarevnyMotiv = "svetly";
    if (HttpContextAccessor.HttpContext.Request.Cookies["TmavyMotiv"] != null)
    {
        BarevnyMotiv = "tmavy";
    }
    int? uzivatel = HttpContextAccessor.HttpContext.Session.GetInt32("ID");
}

<nav>
    <span class="nav-vlevo">
        <h1><a href="/Home/Index" class="icon-key"><span>Správce hesel</span></a></h1>
    </span>

    @if (uzivatel != null)
    {
        <div class="item">
            <a href="/Hesla/Zobrazeni">Moje hesla</a>
            <div class="submenu">
                <div>
                    <a href="/Hesla/Zobrazeni">Zobrazení</a>
                    <a href="/Hesla/Pridat">Přidat</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="item">
            <a href="/Home/Index">Domovská stránka</a>
        </div>
    }

    <span class="nav-vpravo">
        @if (BarevnyMotiv == "svetly")
        {
            <div class="item item-icon">
                <a href="JavaScript:PrepnoutBarevnyMotiv()" title="Zapnout tmavý režim" class="icon-moon"></a>
            </div>
        }
        else
        {
            <div class="item item-icon">
                <a href="JavaScript:PrepnoutBarevnyMotiv()" title="Zapnout světlý režim" class="icon-sun"></a>
            </div>
        }
        @if (uzivatel == null)
        {
            <div class="item item-icon">
                <a href="/Ucet/Prihlaseni" title="Přihlášení a registrace" class="icon-user"></a>
                <div class="submenu">
                    <div>
                        <a href="/Ucet/Prihlaseni">Přihlášení</a>
                        <a href="/Ucet/Registrace">Registrace</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="item item-icon">
                <a href="/Ucet/Nastaveni" title="Nastavení účtu" class="icon-settings"></a>
                <div class="submenu">
                    <div>
                        <a href="/Ucet/ZmenaJmena">Změna jména účtu</a>
                        <a href="/Ucet/ZmenaHesla">Změna hesla k účtu</a>
                        <a href="/Ucet/Odebrani">Odstranění účtu</a>
                    </div>
                </div>
            </div>
            <div class="item item-icon">
                <a href="/Ucet/Odhlaseni" title="Odhlášení" class="icon-logout"></a>
            </div>
        }
    </span>
</nav>
